@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin: 50px">

    <div class="col-sm" style="text-align:right;">
        <h2>Mais d'où voit-on</h2>
    </div>

    <div class="col-sm">
        <form style="width:500px;">

            <div class="dropdown">
                <input type="text" class="jAuto form-control dropdown-toggle"
                       placeholder="Saisissez un lieu . . ." autocomplete="off">
                <div class="dropdown-menu">
                    <i class="hasNoResults">Aucun résultat</i>
                    <div class="list-autocomplete">
                        @foreach (var lieu in ViewBag.Lieux)
                        {
                            <button type="button" class="btn_lieu dropdown-item" data-lieu_id="@lieu.Id">@lieu.Nom</button>
                        }
                    </div>
                    <hr>
                    <a href="/Lieu" type="button" class="dropdown-item">Voir la liste de tous les lieux</a>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm">
        <h2>?</h2>
    </div>

</div>


<div class="row">
    <div id="map" style=" height: 70vh"></div>
</div>



<script>
    var map = L.map('map').setView([46.86, 3.16], 4);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var marker_lieu;

    $(document).on('click', '.btn_lieu', function () {
        $.get("/Home/GetLieu/" + $(this).data('lieu_id'), null, function (data) {
            marker_lieu = L.marker([data.latitude, data.longitude])
            var menu = '<a href="Lieu/View/' + data.id + '">Consulter</a><br><a href="Lieu/Edit/' + data.id + '">Editer</a>'
            marker_lieu.bindPopup('<b>' + data.ville + ' - ' + data.nom + '</b><br>' + menu).openPopup();
            marker_lieu.addTo(map);
        
            map.flyTo([data.latitude, data.longitude], 15);
        });

    });
</script>

