@{
    ViewData["Title"] = "Aide";
}

<h1>Les types de panneaux</h1>

<p>Dans le code de la route français, il existe énormément de types de panneaux différents. <br /> Voici un petit guide pour différencier les panneaux directionnels.</p>

<table class="table table-dark table-striped">
    <thead>
        <td>PANNEAUX DE POSITION </td>
        <td>Avec kilométrage</td>
        <td>Sans kilométrage</td>
    </thead>
    <tr>
        <td><b>Panneau D21</b><br />
            Panneau terminé en pointe de flèche.
        </td>
        <td><img src="~/media/typespanneaux/d21a.jpg" width="200px" /><figcaption>Panneau D21a</figcaption></td>
        <td><img src="~/media/typespanneaux/d21b.jpg" width="200px" /><figcaption>Panneau D21b</figcaption></td>
    </tr>


    <tr>
        <td><b>Panneau D29</b><br />
            Panneau avec une pointe de flèche dessinée.
        </td>
        <td><img src="~/media/typespanneaux/d29a.jpg" width="200px" /><figcaption>Panneau D29a</figcaption></td>
        <td><img src="~/media/typespanneaux/d29b.jpg" width="200px" /><figcaption>Panneau D29b</figcaption></td>
        
    </tr>

    <tr>
        <td>
            <b>Panneau Dv21</b><br />
            Panneau d'itinéraires cyclables.
        </td>
        <td><img src="~/media/typespanneaux/dv21a.jpg" width="200px" /><figcaption>Panneau Dv21a</figcaption></td>
        <td><img src="~/media/typespanneaux/dv21b.jpg" width="200px" /><figcaption>Panneau Dv21b</figcaption></td>

    </tr>
</table>

<table class="table table-dark table-striped">
    <thead>
    <td colspan="2">PANNEAUX DE SIGNALISATION AVANCEE </td>
    <td>Sortie numérotée</td>
    <td>Sortie non numérotée</td>
    <td>Bifurcation autoroutière</td>
    </thead>
    <tr>
        <td rowspan="2">
            <b>Panneau D31</b><br />
        </td>
        <td>flèche vers le haut</td>        
        <td>-</td>
        <td><img src="~/media/typespanneaux/d31b.png" width="200px" /><figcaption>Panneau D31b</figcaption></td>
        <td>-</td>
    </tr>
    <tr>
        <td>flèche vers le bas</td>
        <td><img src="~/media/typespanneaux/d31d.jpg" width="200px" /><figcaption>Panneau D31d</figcaption></td>
        <td><img src="~/media/typespanneaux/d31e.jpg" width="200px" /><figcaption>Panneau D31e</figcaption></td>
        <td><img src="~/media/typespanneaux/d31f.jpg" width="200px" /><figcaption>Panneau D31f</figcaption></td>
    </tr>
    <tr>
        <td rowspan="2">
            <b>Panneau Da31</b><br />
        </td>
        <td>flèche verticale</td>
        <td><img src="~/media/typespanneaux/da31a.jpg" width="200px" /><figcaption>Panneau Da31a</figcaption></td>
        <td><img src="~/media/typespanneaux/da31b.jpg" width="200px" /><figcaption>Panneau Da31b</figcaption></td>
        <td><img src="~/media/typespanneaux/da31c.jpg" width="200px" /><figcaption>Panneau Da31c</figcaption></td>
    </tr>
    <tr>
        <td>flèche oblique</td>
        <td><img src="~/media/typespanneaux/da31d.jpg" width="200px" /><figcaption>Panneau Da31d</figcaption></td>
        <td><img src="~/media/typespanneaux/da31e.jpg" width="200px" /><figcaption>Panneau Da31e</figcaption></td>
        <td><img src="~/media/typespanneaux/da31f.jpg" width="200px" /><figcaption>Panneau Da31f</figcaption></td>
    </tr>
 </table>


<table class="table table-dark table-striped">
    <thead>
    <td colspan="2">PANNEAUX DE SIGNALISATION AVANCEE - AIRES DE REPOS</td>
        <td>Sur route</td>
        <td>Sur Autoroute</td>
    </thead>
    <tr>
        <td rowspan="2">
            <b>Panneau D32</b><br />
        </td>
        <td>flèche oblique</td>
        <td><img src="~/media/typespanneaux/d32a.jpg" width="200px" /><figcaption>Panneau D32a</figcaption></td>
        <td><img src="~/media/typespanneaux/d32b.jpg" width="200px" /><figcaption>Panneau D32b</figcaption></td>
    </tr>
    <tr>
        <td>flèche verticale</td>
        <td><img src="~/media/typespanneaux/da32a.webp" width="200px" /><figcaption>Panneau Da32a</figcaption></td>
        <td><img src="~/media/typespanneaux/da32b.jpg" width="200px" /><figcaption>Panneau Da32b</figcaption></td>
    </tr>
    <tr>
</table>

<table class="table table-dark table-striped">
    <thead>
    <td colspan="4">PANNEAUX DE PRESIGNALISATION</td>
    </thead>
    <tr>
        <td>
            <b>Panneau D41</b><br />Annonce de sortie
        </td>
        <td><img src="~/media/typespanneaux/d41a.jpg" width="200px" /><figcaption>Panneau D41a</figcaption></td>
        <td><img src="~/media/typespanneaux/d41b.jpg" width="200px" /><figcaption>Panneau D41b</figcaption></td>
        <td><img src="~/media/typespanneaux/d41c.jpg" width="200px" /><figcaption>Panneau D41c</figcaption></td>
    </tr>
    <tr>
        <td><b>Panneaux D42/43</b><br />Annonce de carrefour</td>
        <td><img src="~/media/typespanneaux/d42a.jpg" width="200px" /><figcaption>Panneau D42a</figcaption></td>
        <td><img src="~/media/typespanneaux/d42b.jpg" width="200px" /><figcaption>Panneau D42b</figcaption></td>
        <td><img src="~/media/typespanneaux/d43.jpg" width="200px" /><figcaption>Panneau D43</figcaption></td>
    </tr>
    <tr>
        <td><b>Panneau D44/45</b><br />Annonce de village étape</td>
        <td><img src="~/media/typespanneaux/d44.jpg" width="200px" /><figcaption>Panneau D44</figcaption></td>
        <td><img src="~/media/typespanneaux/d45.jpg" width="200px" /><figcaption>Panneau D45</figcaption></td>
        <td></td>
    </tr>
    <tr>
        <td><b>Panneau D46/48</b><br />Annonce d'aire</td>
        <td><img src="~/media/typespanneaux/d46a.jpg" width="200px" /><figcaption>Panneau D46a</figcaption></td>
        <td><img src="~/media/typespanneaux/d46b.jpg" width="200px" /><figcaption>Panneau D46b</figcaption></td>
        <td><img src="~/media/typespanneaux/d48a.jpg" width="200px" /><figcaption>Panneau D48a</figcaption></td>
    </tr>
    <tr>
        <td><b>Panneau D47</b><br />Annonce de péage</td>
        <td><img src="~/media/typespanneaux/d47a.jpg" width="200px" /><figcaption>Panneau D47a</figcaption></td>
        <td><img src="~/media/typespanneaux/d47b.jpg" width="200px" /><figcaption>Panneau D47b</figcaption></td>
        <td><img src="~/media/typespanneaux/d47c.jpg" width="200px" /><figcaption>Panneau D47c</figcaption></td>
    </tr>
    <tr>
        <td><b>Panneau Dv42/43</b><br />Annonce de carrefour cyclable</td>
        <td><img src="~/media/typespanneaux/dv42a.jpg" width="200px" /><figcaption>Panneau Dv42a</figcaption></td>
        <td><img src="~/media/typespanneaux/dv42b.jpg" width="200px" /><figcaption>Panneau Dv42b</figcaption></td>
        <td><img src="~/media/typespanneaux/dv43a.jpg" width="200px" /><figcaption>Panneau Dv43a</figcaption>
            <img src="~/media/typespanneaux/dv43b.jpg" width="200px" /><figcaption>Panneau Dv43b</figcaption>
        </td>
    </tr>
</table>

<table class="table table-dark table-striped">
    <thead>
    <td colspan="2">PANNEAUX D'AVERTISSEMENT </td>
    <td>Sortie simple</td>
    <td>Sortie avec accès à une aire</td>
    <td>Bifurcation autoroutière</td>
    </thead>
    <tr>
        <td rowspan="2">
            <b>Panneau D51/52</b><br />
        </td>
        <td>Sortie simple</td>
        <td><img src="~/media/typespanneaux/d51c.jpg" width="200px" /><figcaption>Panneau D51c</figcaption></td>
        <td><img src="~/media/typespanneaux/d51cr.jpg" width="200px" /><figcaption>Panneau D51cr</figcaption></td>
        <td><img src="~/media/typespanneaux/d52a.jpg" width="200px" /><figcaption>Panneau D52a</figcaption></td>
    </tr>
    <tr>
        <td>Sorties rapprochées</td>
        <td><img src="~/media/typespanneaux/d51d.jpg" width="200px" /><figcaption>Panneau D51d</figcaption></td>
        <td><img src="~/media/typespanneaux/d51dr.jpg" width="200px" /><figcaption>Panneau D51dr</figcaption></td>
        <td><img src="~/media/typespanneaux/d52c.jpg" width="200px" /><figcaption>Panneau D52c</figcaption></td>
    </tr>
    <tr>
        <td rowspan="2">
            <b>Panneau Da51/52</b><br />Avec affectation de voies
        </td>
        <td>Sortie</td>
        <td><img src="~/media/typespanneaux/da51b.jpg" width="200px" /><figcaption>Panneau Da51b</figcaption></td>
        <td><img src="~/media/typespanneaux/da51br.jpg" width="200px" /><figcaption>Panneau Da51br</figcaption></td>
        <td>-</td>
    </tr>
    <tr>
        <td>Biffurcation</td>
        <td><img src="~/media/typespanneaux/da52b.jpg" width="200px" /><figcaption>Panneau Da52b</figcaption></td>
        <td>-</td>
        <td><img src="~/media/typespanneaux/da52a.jpg" width="200px" /><figcaption>Panneau Da52a</figcaption></td>

    </tr>
</table>

<table class="table table-dark table-striped">
    <thead>
    <td>PANNEAUX DE CONFIRMATION </td>
    <td>Sur route</td>
    <td colspan="3">Sur autoroute</td>
    </thead>
    <tr>
        <td>
            <b>Panneau D61</b><br />avec distance
        </td>
        <td><img src="~/media/typespanneaux/d61a.jpg" width="200px" /><figcaption>Panneau D61a</figcaption></td>
        <td><img src="~/media/typespanneaux/d61b.jpg" width="200px" /><figcaption>Panneau D61b</figcaption></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <b>Panneau D62</b><br />sans distance
        </td>
        <td><img src="~/media/typespanneaux/d62a.jpg" width="200px" /><figcaption>Panneau D62a</figcaption></td>
        <td><img src="~/media/typespanneaux/d62b.jpg" width="200px" /><figcaption>Panneau D62b</figcaption></td>
        <td><img src="~/media/typespanneaux/d62c.jpg" width="200px" /><figcaption>Panneau D62c</figcaption></td>
        <td><img src="~/media/typespanneaux/d62d.jpg" width="200px" /><figcaption>Panneau D62d</figcaption></td>
    </tr>
    <tr>
        <td>
            <b>Panneau D63/64</b><br />confirmation prochaine sortie
        </td>
        <td><img src="~/media/typespanneaux/d63c.jpg" width="200px" /><figcaption>Panneau D63c</figcaption></td>
        <td><img src="~/media/typespanneaux/d63d.jpg" width="200px" /><figcaption>Panneau D63d</figcaption></td>
        <td><img src="~/media/typespanneaux/d64.jpg" width="200px" /><figcaption>Panneau D64</figcaption></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <b>Panneau Dv61</b><br />confirmation cyclable
        </td>
        <td><img src="~/media/typespanneaux/dv61.png" width="200px" /><figcaption>Panneau Dv61</figcaption></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>

<table class="table table-dark table-striped">
    <thead>
    <td colspan="4">PANNEAUX COMPLEMENTAIRES </td>
    </thead>
    <tr>
        <td>
            <b>Panneau D71/72/73</b><br />Sorties
        </td>
        <td><img src="~/media/typespanneaux/d71.jpg" width="200px" /><figcaption>Panneau D71</figcaption></td>
        <td><img src="~/media/typespanneaux/d72.jpg" width="200px" /><figcaption>Panneau D72</figcaption></td>
        <td><img src="~/media/typespanneaux/d73.jpg" width="200px" /><figcaption>Panneau D73</figcaption></td>
    </tr>
    <tr>
        <td>
            <b>Panneau D74</b><br />Bifurcations
        </td>
        <td><img src="~/media/typespanneaux/d74a.jpg" width="200px" /><figcaption>Panneau D74a</figcaption></td>
        <td><img src="~/media/typespanneaux/d74b.jpg" width="200px" /><figcaption>Panneau D74b</figcaption></td>
        <td></td>
    </tr>


</table>


