html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-group {
    margin-bottom: 1rem;
}


/* DEBUT CSS pour la barre de recherche */
.list-autocomplete {
    padding: 0;
}

    .list-autocomplete em {
        font-style: normal;
        background-color: #e1f2f9;
    }

.hasNoResults {
    color: #aaa;
    display: block;
    padding: 30px 15px;
}

.hasNoValue {
    color: #aaa;
    display: block;
    padding: 30px 15px;
}


.dropdown-menu {
    padding: 0;
}

.dropdown-item {
    line-height: 30px;
}

.dropdown-menu hr {
    margin: 0;
}


/* FIN CSS pour la barre de recherche */
