@model DouVoitOn.Models.Lieu

@{
    ViewData["Title"] = "Lieu";
}

<h1>Créer un nouveau lieu</h1>

<p>Vous pouvez demander la création d'un nouveau lieu à l'aide de formulaire.<br />
   Le nouveau ne sera pas activé de suite, un administrateur doit l'approuver pour éviter les doublons.
</p>


@ViewBag.Lieu.Nom;
