@{
    ViewData["Title"] = "Contribuer";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ajouter ou éditer un lieu</h5>
                <a href="/Lieu/New" class="btn btn-primary">Ajouter un lieu</a>
                <a href="/Lieu/Edit" class="btn btn-primary">Editer un lieu</a>
                <a href="/Lieu/Delete" class="btn btn-primary">Supprimer un lieu</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ajouter ou éditer un panneau</h5>
                <a href="/Panneau/New" class="btn btn-primary">Ajouter un panneau</a>
                <a href="/Panneau/Edit" class="btn btn-primary">Editer un panneau</a>
                <a href="/Panneau/Delete" class="btn btn-primary">Supprimer un panneau</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ajouter ou éditer une route</h5>
                <a href="/Route/New" class="btn btn-primary">Ajouter une route</a>
                <a href="/Route/Edit" class="btn btn-primary">Editer une route</a>
                <a href="/Route/Delete" class="btn btn-primary">Supprimer une route</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ajouter ou éditer un utilisateur</h5>
                <a href="/Users/New" class="btn btn-primary">Ajouter un utilisateur</a>
                <a href="/Users/Edit" class="btn btn-primary">Editer un utilisateur</a>
                <a href="/Users/Delete" class="btn btn-primary">Supprimer un utilisateur</a>

            </div>
        </div>
    </div>
</div>

